// Consult area start here ***
.consult {
	&-area {
		position: relative;
		z-index: 1;
	}
	&-left {
		padding: 130px 80px;
		background-color: var(--sub-bg);
		@include breakpoint(max-xxxl) {
			padding: 60px 30px;
		}
		.section-header {
			max-width: 650px;
		}
	}
	&__image {
		position: sticky;
		top: 87px;
		img {
			width: 100%;
		}
		.icon {
			position: absolute;
			bottom: 80px;
			right: 80px;
			@include breakpoint(max-md) {
				bottom: 30px;
				right: 30px;
				img {
					width: 60px;
				}
			}
		}
	}
	&__service {
		@include flex;
		gap: 80px;		
		@include breakpoint(max-md) {
			gap: 30px;
		}
		@include breakpoint(max-sm) {
			flex-wrap: wrap;
		}
		.content-box{
			max-width: 420px;
			flex-shrink: 0;
			h5{
				margin-bottom: 20px;
			}
		}
		ul {			
			li {
				line-height: 26px;
				color: var(--theme-color5);
				@include flex;
				gap: 10px;
				font-weight: 500;
				padding: 10px 0px 17px;
				text-transform: capitalize;
				border-bottom: 1px solid rgb(0 0 0 / 10%);
				&:not(.last-child) {
					margin-bottom: 5px;
				}
				i{
					color: var(--theme-color4);
				}
			}
		}
	}
	&__experience {
		.check-list-box{
			@include flex;
			gap: 60px;
			ul {			
				li {
					line-height: 26px;
					color: var(--theme-color5);
					@include flex;
					gap: 10px;
					font-size: 18px;
					font-weight: 500;
					padding: 10px 0px;
					text-transform: capitalize;
					margin-bottom: 15px;
					&:not(.last-child) {
						margin-bottom: 5px;
					}
					i{
						color: var(--white);
						width: 30px;
						height: 30px;
						text-align: center;
						line-height: 30px;
						border-radius: 50%;
						font-size: 14px;
						background-color: var(--theme-color4);
					}
				}
			}
		}
		&-bar{
			.funfact-outer{
				@include flex;
				margin-top: 50px;
				gap: 50px;
				flex-wrap: wrap;
				.funfact-item{
					@include flex;
					gap: 30px;
					max-width: 255px;
					padding-bottom: 20px;
					border-bottom: 1px solid rgb(0 0 0 / 10%);
					h2{
						color: var(--theme-color5);
						flex-shrink: 0;
					}
					&:hover{
						border-color: var(--theme-color4);
					}
				}
			}
		}
	}
}
// Consult area end here ***

// Consult seven area start here ***
.consult-seven {
	&-area {
		@extend .consult-area;
		@include breakpoint(max-xxl) {
			margin-left: 0;
		}
	}
}
// Consult seven area end here ***
