// Portfolio area start here ***
.portfolio {
	&-area {
		position: relative;
		z-index: 1;
	}
	&-left {
		position: sticky;
		top: 130px;
	}
	&-right {
		margin-left: 85px;
		@include breakpoint(max-xl) {
			margin-left: 0;
		}
	}
	&__item {
		position: sticky;
		top: 130px;
		z-index: 1;		
		@include breakpoint(max-md) {
			top: 60px;
		}
		.content {
			bottom: 40px;
			left: 30px;
			position: absolute;
			@include flex;
			gap: 20px;			
			.number {
				color: var(--white);
				font-size: 96px;
				font-weight: 500;
				line-height: 100px;
				@include responsive-font(40px, 5.75vw, 96px, 1.2);
			}
			.title {
				color: var(--white);
				max-width: 395px;
			}
			@include breakpoint(max-sm) {
				left: 20px;
				bottom: 20px;
				.number {
					font-size: 60px;
					line-height: 60px;
				}
			}
		}
		&_two{
			position: sticky;
			top: 130px;
			z-index:9;
			background: var(--white);
			border-bottom: 1px solid var(--border);
			padding-bottom: 30px;
			&:last-child {
				padding-bottom: 0;
				border: none;
			}
			.content{
				position: relative;
				@include flex;
				align-items: center;
				justify-content: space-between;
				@include breakpoint(max-xxl) {
					flex-wrap: wrap;
				}
				gap: 20px;				
				.sub-title {
					font-family: var(--font-body);
					font-weight: 600;
					font-size: 12px;
					line-height: 30px;
					text-transform: uppercase;
					color: var(--black);
					margin-top: 30px;
					margin-bottom: 10px;
				}
				.title {
					color: var(--black);
				}
				.btn-explore-2{
					margin-top: 10px;
					@include breakpoint(max-xxl) {
						margin-top: 0;
					}
				}
				@include breakpoint(max-sm) {
					left: 20px;
					bottom: 20px;				
				}
			}			
		}
	}
}
// Portfolio area end here ***

// Portfolio eight area start here ***
.portfolio-eight {
	&-area {
		overflow: hidden;
		background-color: var(--black);
	}
	&__wrp {
		max-width: 1560px;
		margin: 0 auto;
		.section-header__flex {
			padding: 0 50px;
			@include breakpoint(max-xxl) {
				padding: 0;
			}
			p {
				max-width: 520px;
			}
		}
	}
	&__item {
		position: relative;
		z-index: 1;
		margin: 0 50px;
		@include breakpoint(max-xxl) {
			margin: 0;
		}
		.image {
			img {
				transition: var(--transition);
			}
		}
		.arry-btn {
			@include radius(70px, 70px, 70px);
			font-size: 28px;
			background-color: var(--white);
			color: var(--black);
			position: absolute;
			top: 30px;
			right: 30px;
			transform: rotate(-45deg);
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			&:hover {
				transform: rotate(0);
			}
		}
		&:hover {
			.image {
				img {
					filter: grayscale(1000%);
				}
			}
			.arry-btn {
				opacity: 1;
				visibility: visible;
				top: 20px;
				right: 20px;
			}
		}
		&.item {
			&-one {
				margin-top: 80%;
				@include breakpoint(max-md) {
					margin: 0;
				}
			}
			&-three {
				margin-top: 30px;
				@include breakpoint(max-md) {
					margin: 0;
				}
			}
			&-four {
				margin-top: -20%;
				@include breakpoint(max-md) {
					margin: 0;
				}
			}
			&-five {
				margin-top: 120px;
				@include breakpoint(max-md) {
					margin: 0;
				}
			}
			&-six {
				margin-top: 80px;
				@include breakpoint(max-md) {
					margin: 0;
				}
			}
		}
	}
}
// Portfolio eight area end here ***

// Portfolio ten area start here ***
.portfolio-ten {
	&-area {
		@extend .portfolio-area;
		.portfolio-left{
			@include breakpoint(max-lg) {
				margin-bottom: 40px;
			}
		}
	}
	&__item {
		padding: 40px 50px;
		background-color: var(--white);
		border: 1px solid var(--border);
		border-top: none;
		transition: var(--transition);
		margin-bottom: 0;
		display: flex;
		gap: 60px;
		&:nth-child(1) {
			border-top: 1px solid var(--border);
		}
		span {
			font-size: 128px;
			font-weight: 500;
			@include responsive-font(50px, 8vw, 128px, .5);
			font-family: var(--font-title);
			transition: var(--transition);
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #00000033;
		}
		.title{
			margin-bottom: 10px;
		}
		@include breakpoint(max-sm) {
			span {
				font-size: 60px;
				line-height: 60px;
			}
			gap: 20px;
			padding: 20px;
			p {
				font-size: 14px;
				line-height: 22px;
			}
		}
		.content {
			max-width: 430px;
		}
		.btn-view {
			margin-top: 20px;
			i {
				transform: rotate(-45deg);
			}
		}
		&:hover {
			background-color: var(--sub-bg);
			border: 1px solid var(--sub-bg);
			border-top: none;
			&:nth-child(1) {
				border-top: 1px solid var(--sub-bg);
			}
			span {
				color: var(--theme-color4);
				-webkit-text-stroke-width: 1px;
				-webkit-text-fill-color: var(--theme-color4);
				-webkit-text-stroke-color: var(--theme-color4);
			}
			.btn-view {
				i {
					transform: rotate(0deg);
				}
			}
		}
	}
}
// Portfolio ten  area end here ***
